.page#ansungmanager_project{
    position: relative;
    margin:2rem;
    background-color: white;
    padding:1rem;
    border-radius: 1rem;
    #header{
        position: sticky;
    }
    .project_info{
        margin-top: 0.5rem;
        margin-left: 4rem;
        .label{
            font-size: 1rem;
            color:rgb(87, 87, 87);
        }
        .text{
            font-size: 1.1rem;
            font-weight: 800;
            p{
                margin:0px;
            }
        }
    }
    #architecture{
        margin-top: 5rem;
        img{
            width: 100%;
        }
    }
    #entity_modeling{
        #image_container{
            display: flex;
            align-items: center;
            img{
                width: 50%;
                height: fit-content;
            }
        }
    }
}