#project{
    margin: 10rem;
    #project_list{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #project_title{
        font-size: 3rem;
        opacity: 0;
    }
    .project_title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        background-color: white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
        opacity: 0;
    }
}